# --- CARPETAS A OMITIR (Proyectos específicos) ---
02_NEC_RMT/
03_NEC_RMT/
ir_nec_transceiver/

# --- ARCHIVOS DE COMPILACIÓN (En todos los proyectos) ---
**/build/
**/sdkconfig
**/sdkconfig.old
**/managed_components/
**/.dependencies.lock

# --- ARCHIVOS DE CONFIGURACIÓN DEL IDE (Basura) ---
.metadata/
.settings/
.project
.cproject
RemoteSystemsTempFiles/

# --- TEMPORALES ---
**/__pycache__/
**/*.py[cod]
.DS_Store